{
  "extends": "airbnb",
  "plugins": [
    "import",
    "jsx-a11y",
    "babel",
    "react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2
  }
}