{
    "branch": "master",
    "tagFormat": "${version}",
    "analyzeCommits": {
        "preset": "eslint"
    },
    "generateNotes": {
      "preset": "eslint",
      "writerOpts": {
        "commitsSort": ["subject", "scope"],
      }
    }
}
